$devMode: false;
$breakpoints: (
  s: 680px,
  m: 768px,
  l: 1024px,
  x: 1200px,
  xl: 1400px,
);

@mixin from($bp) {
  @if (map-has-key($breakpoints, $bp)) {
    @media screen and (min-width: map-get($breakpoints , $bp )) {
      @content;
    }
  } @else {
    @media screen and (min-width: $bp) {
      @content;
    }
  }
}

:root {
  --soft-yellow: rgba(247, 223, 148, 1);
  --warm-black: rgba(51, 51, 51, 1);
  --soft-gray: rgba(130, 130, 130, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @if ($devMode == true) {
    border: 1px solid red;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  min-width: 100%;
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn {
  cursor: pointer;
}
.btn-randon {
  padding: 1.5rem;
  width: 50%;
  height: 60px;
  text-align: right;
  @include from(m) {
    width: 20%;
  }
  @include from(x) {
    width: 10%;
  }
}
.close {
  padding: 1.5rem;
  text-align: right;
  background: #fff;
}
.icon-random {
  vertical-align: middle;
}

.main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1rem;
  @include from(m) {
    width: 40%;
  }
  @include from(x) {
    width: 30%;
  }
}

.quote {
  padding: 2rem;
  position: relative;
  @include from(x) {
    width: 100%;
    font-size: 1.8rem;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 8px;
    background: var(--soft-yellow);
  }
}

.author-section {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  width: 95%;
  height: 80px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--warm-black);
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
  &__author {
    padding-left: 1rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  &__type-quote {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: var(--soft-gray);
  }
}
.data {
  width: 90%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #333;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*
* section all quotes
*
*/

.modal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}
.all-quotes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow-y: scroll;
  height: 580px;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  @include from(m) {
    width: 70%;
    margin: 5rem auto;
  }
}
/* HELPERS */
.m-1 {
  margin: 1rem 0;
}
.active {
  display: none;
}
#loader {
  z-index: 1000000000;
  position: absolute;
}
