:root {
  --soft-yellow: rgba(247, 223, 148, 1);
  --warm-black: rgba(51, 51, 51, 1);
  --soft-gray: rgba(130, 130, 130, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  min-width: 100%;
}

.header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  cursor: pointer;
}

.btn-randon {
  padding: 1.5rem;
  width: 50%;
  height: 60px;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .btn-randon {
    width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .btn-randon {
    width: 10%;
  }
}

.close {
  padding: 1.5rem;
  text-align: right;
  background: #fff;
}

.icon-random {
  vertical-align: middle;
}

.main {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .quote-container {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .quote-container {
    width: 30%;
  }
}

.quote {
  padding: 2rem;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .quote {
    width: 100%;
    font-size: 1.8rem;
  }
}

.quote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 8px;
  background: var(--soft-yellow);
}

.author-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  width: 95%;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.author-section:hover {
  background-color: var(--warm-black);
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.author-section__author {
  padding-left: 1rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.author-section__type-quote {
  padding-left: 1rem;
  font-size: 1.2rem;
  color: var(--soft-gray);
}

.data {
  width: 90%;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #333;
  opacity: 1;
  border-radius: 50%;
  -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
          animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

@-webkit-keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/*
* section all quotes
*
*/
.modal {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.all-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  overflow-y: scroll;
  height: 580px;
}

.all-quotes::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.all-quotes::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.all-quotes::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.all-quotes::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .all-quotes {
    width: 70%;
    margin: 5rem auto;
  }
}

/* HELPERS */
.m-1 {
  margin: 1rem 0;
}

.active {
  display: none;
}

#loader {
  z-index: 1000000000;
  position: absolute;
}
/*# sourceMappingURL=styles.css.map */